flows.json
[
    {
        "id": "7aa67f3b76fd3f34",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b48377fe320b6e5",
        "type": "inject",
        "z": "7aa67f3b76fd3f34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.03",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "9c1f6cbb24a8fbf5"
            ]
        ]
    },
    {
        "id": "02f08e93cba6ed2c",
        "type": "http request",
        "z": "7aa67f3b76fd3f34",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/logar/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "msg",
                "keyValue": "headers.content-type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 610,
        "y": 180,
        "wires": [
            [
                "411298ac487cd31f"
            ]
        ]
    },
    {
        "id": "9c1f6cbb24a8fbf5",
        "type": "function",
        "z": "7aa67f3b76fd3f34",
        "name": "function 1",
        "func": "msg.payload = {\n    \"IP\": \"10.10.10.1\",\n    \"CMD\": \"show ip int brief\",\n    \"REGEX\": \"(.)\"\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "02f08e93cba6ed2c"
            ]
        ]
    },
    {
        "id": "411298ac487cd31f",
        "type": "debug",
        "z": "7aa67f3b76fd3f34",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 180,
        "wires": []
    }
]